* {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", cursive;
}

.main_body {
  background-image: url("../assets/base_layer.png");
}

.master {
  display: flex;
  justify-content: space-between;
  text-align: center;
  /* background-color: hotpink; */
}

.map {
  width: 420px;
  height: 540px;
  /* background-color: #00CFC3; */
}

.scoreline {
  width: 1080px;
  height: 540px;
  /* background-color: #FFB9E7; */
}

.players_alive {
  width: 420px;
  height: 540px;
  /* background-color: #00CFC3; */
}

.left_side {
  width: 600px;
  height: 540px;
  /* background-color: #E76F6F; */
}

.current_player {
  width: 780px;
  height: 540px;
  /* background-color: #B0A9FF; */
}

.right_side {
  width: 600px;
  height: 540px;
  align-content: right;
  /* background-color: #E76F6F; */
}
