.base {
    width: 720px;
    height: 540px;
    display: flex;
    flex-wrap: wrap;
    background-color: #C4C4C4;
}

.top_margin {
    width: 720px;
    height: 338px;
    background-color: #FF1F1F;
}

.left_margin {
    width: 185px;
    height: 50px;
    background-color: #FF1F1F;
}

.name_bar {
    width: 350px;
    height: 50px;
    background-color: #B0FFC2;
}

.team_logo {
    width: 50px;
    height: 50px;
    background-color: #81B3FF;
}

.right_margin {
    width: 185px;
    height: 50px;
    background-color: #FF1F1F;
}



.left_margin_s {
    width: 5px;
    height: 50px;
    background-color: #FF1F1F;
}

.health_status {
    width: 90px;
    height: 50px;
    background-color: #75E1DB;
}


.right_margin_s {
    width: 5px;
    height: 50px;
    background-color: #FF1F1F;
}