<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <style>
        @import url(./template.css);
    </style>
</head>
<body>
    <section class="master">
        <section class="map">
            Map
        </section>
        <section class="scoreline">
            Scoreline
        </section>
        <section class="players_alive">
            PlayersAlive
        </section>
    </section>
    <section class="master">
        <section class="t_side">
            TSide
            <!-- <div class="t_player">
                Player One
            </div>
            <div class="t_player">
                Player Two
            </div>
            <div class="t_player">
                Player Three
            </div>
            <div class="t_player">
                Player Four
            </div>
            <div class="t_player">
                Player Five
            </div> -->
        </section>
        <section class="current_player">
            CurrentPlayer
        </section>
        <section class="ct_side">
            CTSide
            <!-- <div class="ct_player">
                Player One
            </div>
            <div class="ct_player">
                Player Two
            </div>
            <div class="ct_player">
                Player Three
            </div>
            <div class="ct_player">
                Player Four
            </div>
            <div class="ct_player">
                Player Five
            </div> -->
        </section>
    </section>
</body>
</html>