.players_alive_base {
    width: 420px;
    height: 540px;
    display: flex;
    flex-wrap: wrap;
    /* background-color: #C4C4C4; */
}

.players_alive_top_margin {
    width: 420px;
    height: 20px;
    /* background-color: #FDA3FF; */
}

.players_alive_left_margin {
    width: 164px;
    height: 520px;
    /* background-color: #FFC554; */
}

.player_alive_base {
    width: 216px;
    height: 69px;
    display: flex;
    flex-wrap: wrap;
    background-color: #FF7D7D;
}

.players_alive_right_margin {
    width: 40px;
    height: 520px;
    /* background-color: #FF6BE7; */
}




.players_alive_text {
    width: 216px;
    height: 17px;
    background-color: #BBFD88;
}

.players_alive_gap {
    width: 216px;
    height: 2px;
    background-color: #FF7D7D;
}

.players_alive_left {
    width: 70px;
    height: 50px;
    background-color: #B0FFC2;
}

.players_alive_versus {
    width: 76px;
    height: 50px;
    background-color: #71A1FF;
}

.players_alive_right {
    width: 70px;
    height: 50px;
    background-color: #B0FFC2;
}