.right_side_base {
    width: 600px;
    height: 540px;
    display: flex;
    flex-wrap: wrap;
    /* background-color: #C4C4C4; */
}

.right_side_right_section {
    width: 40px;
    height: 540px;
    /* background-color: #FF8BEC; */
}

.right_side_middle_section {
    width: 350px;
    height: 540px;
    /* background-color: #FF1F1F; */
}

.right_side_top_margin {
    width: 350px;
    height: 96px;
    /* background-color: #FF4A4A; */
}

.right_info {
    width: 350px;
    height: 410px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background-color: #75E1DB; */
}

.right_banner {
    width: 350px;
    height: 70px;
    background-color: #B0FFC2;
}

.right_player_base {
    width: 350px;
    height: 64px;
    background-color: #FF7D7D;
}

.right_side_bot_margin {
    width: 350px;
    height: 34px;
    /* background-color: #857583; */
}

.right_side_left_section {
    width: 210px;
    height: 540px;
    /* background-color: #FF0000; */
}


/* Individual segments */

.right_player_base_row {
    width: 350px;
    height: 32px;
    display: flex;
    flex-wrap: wrap;
}

.right_player_base_health {
    width: 55px;
    height: 32px;
    background-color: #73905C;
}

.right_player_base_username {
    width: 200px;
    height: 32px;
    background-color: #8987FF;
}

.right_player_base_weapon {
    width: 95px;
    height: 32px;
    background-color: #B45C5C;
}

.right_player_base_armour {
    width: 55px;
    height: 32px;
    background-color: #BBFD88;
}

.right_player_base_money {
    width: 100px;
    height: 32px;
    background-color: #DCB376;
}

.right_player_base_kd {
    width: 105px;
    height: 32px;
    background-color: #D58FFF;
}

.right_player_base_grenades {
    width: 90px;
    height: 32px;
    background-color: #84C4FF;
}