* {
    font-family: 'Ubuntu', sans-serif;
}

.hud {
    width: 1080px;
    height: 540px;
    /* background-color: #C4C4C4; */
}

.base {
    width: 1080px;
    height: 95px;
    display: flex;
    flex-wrap: wrap;
    /* background-color: #FF8989; */
}

.left_logo {
    width: 70px;
    height: 70px;
    background-color: #FFC554;
    /* background-image: url("../assets/team_logos/Mouz.png");
    background-size: 70px 70px;
    background-color: #1a1c1b; */
}

.left_name {
    width: 325px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 32px;
    color: #FFFFFF;
    background-color: #F6DC97;
    /* background-color: #282b29; */
}

.left_score {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 32px;
    color: #FFFFFF;
    background-color: #FFC554;
    /* background-color: #1a1c1b; */
}

.timer_round {
    width: 150px;
    height: 70px;
    background-color: #282b29;
    /* opacity: 0.8; */
    /* background-color: #69FFB7; */
}

.top_timer {
    width: 150px;
    height: 41px;
    line-height: 41px;
    text-align: center;
    font-size: 32px;
    color: #FFFFFF;
    background-color: #69FFB7;
    /* background-color: #FFA3F6; */
}

.bot_timer {
    width: 150px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #69FFFF;
    /* background-color: #FF6BE7; */
}

.right_logo {
    width: 70px;
    height: 70px;
    background-color: #71A1FF;
    /* background-image: url("../assets/team_logos/Fnatic.png");
    background-size: 70px 70px;
    background-color: #1a1c1b; */
}

.right_name {
    width: 325px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 32px;
    color: #FFFFFF;
    background-color: #99BCFF;
    /* background-color: #282b29; */
}

.right_score {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 32px;
    color: #FFFFFF;
    background-color: #71A1FF;
    /* background-color: #1a1c1b; */
}

.left_defuse {
    width: 395px;
    height: 25px;
    background-color: #FF6BE7;
}

.match_status {
    width: 290px;
    height: 25px;
    background-color: #FFA3F6;
}

.right_defuse {
    width: 395px;
    height: 25px;
    background-color: #FF6BE7;
}